.App {
  text-align: center;
}

.App-logo {
  height: 200px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

main {
  display: flex;
  flex-direction: row;
  height: 84vh;
}

.logout, .login{
  width: 70px;
  margin-bottom: 10px;
}

.header_title, .user_name, .user_email{
  color: #61dafb;
}

.user_img{
  border-radius: 50%;
}

aside{
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

section{
  width: 100%;
  background-color: #61dafb;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
}

.LogoutButton{
  width: 70px;
}

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
